:root {
  --branding-color: #cdd5d5;
  --secondary-color: #086974;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--heading-font-family);
}
h2 {
  line-height: 2;
  font-weight: bold;
}
p {
  font-weight: bold; 
}
.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
}
.hero p {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  margin: 0;
}
.btn-branding {
  background: var(--secondary-color);
  font-family: "poppins", sans-serif;
  border-radius: 4px;
  color: white;
  font-size: 23px;
  line-height: 27px;
  padding: 10px 20px;
}
@media (max-width: 960px) {
p { font-size: 12px;
  line-height: 2;
} 
h2 { 
  font-size: 20px;
}
 
}
.btn-branding-outline {
 background: var(--secondary-color);
  color: var(--branding-color);
  border: 1px solid;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 20px;
  text-align: center;
}
.about-section  {
text-align: center;
  padding: 160px 20px;
}